@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}

* {
    font-family: 'Rubik', sans-serif;
}

:root {
    /* Multiselect dropdown */
    --sms-options-bg: rgb(28, 28, 28);
    --sms-border: 2px solid rgba(200, 220, 240, .2);
    --sms-text-color: rgb(156, 163, 175);
    --sms-font-size: 1rem;
    --sms-button-hover-color: #ed5151;
    --sms-border-radius: 5px 0px 0px 5px;
}

ul.options {
    border-radius: 0px 0px 5px 5px;
}

.tooltip-theme {
    --tooltip-font-family: 'Rubik', sans-serif;
    --tooltip-background-color: rgb(8, 8, 8, .8);
    --tooltip-font-weight: 400;
    --tooltip-font-size: 14px;
    --tooltip-arrow-size: 9px;
    --tooltip-border-radius: 6px;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.9, 0.9, 0.9);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.bounceIn {
    animation-duration: 0.4s;
    animation-name: bounceIn;
}